<div class="bg">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">Chat-O-Buddy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="btn btn-light" [routerLink]="['/login']">Sign In</a>
     </li>
    </ul>
  </div>

</nav>


<div class="container" style="padding:5%">
  <div class="row">
    <div class="col-md-12">
    <div>
    <p>
      Getting Bored ?? Nobody to talk ?? <br>
      Cheer up buddy... You have landed up on the right platform.</p>
    </div>

    <div class="row">
        <div class="col-md-4"></div>
      <div class="col-md-4"><img src="./../../../assets/logo_black.png"></div>
      <div class="col-md-4"></div>
    </div>

      <div>
        <div id="myTag"><b>Chat-O-Buddy</b></div> <p>brings you friends who are looking for a buddy like you to listen to & share their part as well. <br> 
          You are just a click away from your new buddies.
        </p>
      </div>

      <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <button class="btn btn-outline-light" [routerLink]="['/sign-up']" style="width:100%;">
              Chit Chat Now
            </button>
          </div>
          <div class="col-md-4"></div>
      </div>

    </div> <!--col closed-->

  </div> <!--row closed-->

</div> <!--container closed-->



<!--footer-->
<footer class="footer">
  <div class="container-fluid text-center" style="background-color: black; padding:0.7%">
      <span style="color: white">Copyright&copy; 2018 Chat-O-Buddy.</span>
  </div>
</footer>

</div>
